[project]
	description = Extract prominent colors from an image. JS port of Android's Palette.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DorothyMayDay
[access "refs/for/refs/*"]
	read = group user/DorothyMayDay
	push = group user/DorothyMayDay
	label-Code-Review = -2..+2 group user/DorothyMayDay
	label-Verified = -1..+1 group user/DorothyMayDay
	rebase = group user/DorothyMayDay
	removeReviewer = group user/DorothyMayDay
	submit = group user/DorothyMayDay
[access "refs/heads/*"]
	read = group user/DorothyMayDay
	create = group user/DorothyMayDay
	push = +force group user/DorothyMayDay
	pushMerge = group user/DorothyMayDay
[access "refs/tags/*"]
	push = +force group user/DorothyMayDay
	pushTag = group user/DorothyMayDay
	pushSignedTag = group user/DorothyMayDay
